body {margin:0px; padding:0px; background-image:url(../images/bg_main.jpg); background-repeat:repeat-x; background-color:#9dc0e0; }

.floatr {float:right; text-align:right;}
.floatrtxtl {float:right; text-align:left;}
.floatrtxtc {float:right; text-align:center;}

.lh11 {line-height:11px;}
.lh24 {line-height:24px;}

.floatl {float:left; text-align:left;}
.floatltxtr {float:left; text-align:right;}
.floatltxtc {float:left; text-align:center;}
.txtc {text-align:center;}
.txtr {text-align:right;}

h1 {margin:0px; padding:0px;}
h2 {margin:0px; padding:0px;}
h3 {margin:0px; padding:0px;}

.text8 {font-family: verdana,tahoma,arial; font-size: 8px;}
.text9 {font-family: verdana,tahoma,arial; font-size: 9px;}
.text {font-family: verdana,tahoma,arial; font-size: 10px;}
.text11 {font-family: verdana,tahoma,arial; font-size: 11px;}
.text12 {font-family: verdana,tahoma,arial; font-size: 12px;}
.text13 {font-family: verdana,tahoma,arial; font-size: 13px;}
.text14 {font-family: verdana,tahoma,arial; font-size: 14px;}
.text10n {font-family:verdana,tahoma,arial; font-size:10px; color:#000000; text-decoration:none; color:#666260; vertical-align:middle;}
.adminheader { font-family: verdana,tahoma,arial; color: #FFFFFF; font-size: 12px; font-weight: bold; padding: 2px; background-color: #000066 }
.admintxt    { font-family: verdana,tahoma,arial; font-size: 11px; font-weight: bold; background-color:efefff}
.adminfield  { font-family: verdana,tahoma,arial;font-size: 11px;}
.bottomtext  { font-family: verdana,tahoma,arial; font-size: 10px; font-weight: bold }
.adminborder { border: 1px solid #000000;}
.adminsubheader{font-family:verdana,tahoma,arial;font-size:11px;background-color:#eeeeee;font-weight:bold;}
.admintitle {font-family: verdana,tahoma,arial; font-size: 10pt; color: #000000;}
.admintitle1 {font-family: verdana,tahoma,arial; font-size: 11pt; color: #ffffff;}
.hzline{background-color:white;}
.navigationbar{font-family:verdana,tahoma,arial;font-size:10px;background-color:#ccccee;}
.navigationlinks{font-family:verdana,tahoma,arial;font-size:10px;text-decoration:none;}
.rightcoloumn{background-color:#eeeeee;}
.rightcolumn a {font-family: verdana,tahoma,arial; font-size: 11px; font-weight: bold; width: 100%; padding: 3 3px 3 7px; 
background-color: #2E6DA2; color: #ffffff; text-decoration: none;}
.rightcolumn a:hover {color: #FF9900;}	
.lefttable{background-color:#cccccc;}

.maintext{font-family:verdana,tahoma,arial;font-size:10pt;}
.smalltext{font-family:verdana,tahoma,arial;font-size:7pt;}
.field{width:134px;font-family:verdana,tahoma,arial;font-size:11px;}
.heading{font-family:verdana,tahoma,arial;font-size:11pt;font-weight:bold;}
.header{font-family:verdana,tahoma,arial;font-size:10pt;font-weight:bold;}
.field1{border:solid 1px #000000;font-family:verdana,tahoma,arial;font-size:11px;width:134px;}
.formlabels{font-family:verdana,tahoma,arial;font-size:11px;font-weight:bold;}
.labels{font-family:verdana,tahoma,arial;font-size:10px;font-weight:bold;padding-left:25px;text-transform:uppercase;}
.fieldsm{border:solid 1px #000000;font-family:verdana,tahoma,arial;font-size:11px;}
.bottomlinks{text-decoration:none;}

.txtlinehght {line-height:13px;}
.txtb {font-weight:bold;}

a:link.link{font-family: verdana,tahoma,arial; font-size: 10px; color: #3c578f; text-decoration: underline;}
a:active.link{font-family: verdana,tahoma,arial; font-size: 10px; color: #3c578f; text-decoration: underline;}
a:visited.link{font-family: verdana,tahoma,arial; font-size: 10px; color: #3c578f; text-decoration: underline;}
a:hover.link{font-family: verdana,tahoma,arial; font-size: 10px; color: #3c578f; text-decoration: none;}

a:link.link1{font-family: verdana,tahoma,arial; font-size: 10px; color: #253864; text-decoration: underline;}
a:active.link1{font-family: verdana,tahoma,arial; font-size: 10px; color: #253864; text-decoration: underline;}
a:visited.link1{font-family: verdana,tahoma,arial; font-size: 10px; color: #253864; text-decoration: underline;}
a:hover.link1{font-family: verdana,tahoma,arial; font-size: 10px; color: #253864; text-decoration: none;}

a:link.links{font-family: verdana,tahoma,arial; color: #253864; text-decoration: underline;}
a:active.links{font-family: verdana,tahoma,arial; color: #253864; text-decoration: underline;}
a:visited.links{font-family: verdana,tahoma,arial; color: #253864; text-decoration: underline;}
a:hover.links{font-family: verdana,tahoma,arial; color: #253864; text-decoration: none;}

a:link.link2{font-family: verdana,tahoma,arial; font-size: 10px; color: #231f20; text-decoration: none;}
a:active.link2{font-family: verdana,tahoma,arial; font-size: 10px; color: #231f20; text-decoration: none;}
a:visited.link2{font-family: verdana,tahoma,arial; font-size: 10px; color: #231f20; text-decoration: none;}
a:hover.link2{font-family: verdana,tahoma,arial; font-size: 10px; color: #231f20; text-decoration: underline;}

a:link.link3{font-family: verdana,tahoma,arial; font-size: 10px; color: #3c578f; text-decoration: none;}
a:active.link3{font-family: verdana,tahoma,arial; font-size: 10px; color: #3c578f; text-decoration: none;}
a:visited.link3{font-family: verdana,tahoma,arial; font-size: 10px; color: #3c578f; text-decoration: none;}
a:hover.link3{font-family: verdana,tahoma,arial; font-size: 10px; color: #3c578f; text-decoration: underline;}

a:link.link4{font-family: verdana,tahoma,arial; font-size: 10px; color: #000000; text-decoration: none;}
a:active.link4{font-family: verdana,tahoma,arial; font-size: 10px; color: #000000; text-decoration: none;}
a:visited.link4{font-family: verdana,tahoma,arial; font-size: 10px; color: #000000; text-decoration: none;}
a:hover.link4{font-family: verdana,tahoma,arial; font-size: 10px; color: #000000; text-decoration: underline;}

a:link.link5{font-family: verdana,tahoma,arial; font-size: 11px; color: #000000; text-decoration: underline;}
a:active.link5{font-family: verdana,tahoma,arial; font-size: 11px; color: #000000; text-decoration: underline;}
a:visited.link5{font-family: verdana,tahoma,arial; font-size: 11px; color: #000000; text-decoration: underline;}
a:hover.link5{font-family: verdana,tahoma,arial; font-size: 11px; color: #000000; text-decoration: none;}

a:link.link6{font-family: verdana,tahoma,arial; font-size: 11px; color: #ffffff; text-decoration: none;}
a:active.link6{font-family: verdana,tahoma,arial; font-size: 11px; color: #ffffff; text-decoration: none;}
a:visited.link6{font-family: verdana,tahoma,arial; font-size: 11px; color: #ffffff; text-decoration: none;}
a:hover.link6{font-family: verdana,tahoma,arial; font-size: 11px; color: #ffffff; text-decoration: underline;}

a:link.link7{font-family: verdana,tahoma,arial; font-size: 11px; color: #000000; text-decoration: none;}
a:active.link7{font-family: verdana,tahoma,arial; font-size: 11px; color: #000000; text-decoration: none;}
a:visited.link7{font-family: verdana,tahoma,arial; font-size: 11px; color: #000000; text-decoration: none;}
a:hover.link7{font-family: verdana,tahoma,arial; font-size: 11px; color: #000000; text-decoration: underline;}

/*a:link.linkmenu{font-family: verdana,tahoma,arial; font-size: 10px; color: #edf0f4; text-decoration: none; background-color:#edf0f4; font-weight:bold;}
a:active.linkmenu{font-family: verdana,tahoma,arial; font-size: 10px; color: #edf0f4; text-decoration: none; background-color:#edf0f4; font-weight:bold;}
a:visited.linkmenu{font-family: verdana,tahoma,arial; font-size: 10px; color: #edf0f4; text-decoration: none; background-color:#edf0f4; font-weight:bold;}
a:hover.linkmenu{font-family: verdana,tahoma,arial; font-size: 10px; color: #edf0f4; text-decoration: none; background-color:#243662; font-weight:bold;}*/

a:link.linkmenu{font-family: verdana,tahoma,arial; font-size: 10px; color: #2c4272; text-decoration: none; font-weight:bold;}
a:active.linkmenu{font-family: verdana,tahoma,arial; font-size: 10px; color: #2c4272; text-decoration: none; font-weight:bold;}
a:visited.linkmenu{font-family: verdana,tahoma,arial; font-size: 10px; color: #2c4272; text-decoration: none; font-weight:bold;}
a:hover.linkmenu{font-family: verdana,tahoma,arial; font-size: 10px; color: #ff0000; text-decoration: none; font-weight:bold;}



.textmenu {font-family: verdana,tahoma,arial; font-size: 10px; background-color:#edf0f4; color:#6e7ca1; font-weight:bold;}

.bullethome {list-style-image:url(../images/bullet.gif); font-family:verdana,tahoma,arial; font-size: 10px; color: #636466; text-decoration: none; padding:0px; line-height:13px;}
.bullethome li {margin:7px 0px 12px 26px;}

.bullettraing {list-style-image:url(../images/bullet1.gif); font-family:verdana,tahoma,arial; font-size: 10px; color: #636466; text-decoration: none; padding:0px; line-height:13px;}
.bullettraing li {margin:7px 0px 12px 16px;}

.bulletdevpt {list-style-image:url(../images/bullet1.gif); font-family:verdana,tahoma,arial; font-size: 10px; color: #636466; text-decoration: none; padding:0px; line-height:13px;}
.bulletdevpt li {margin:0px 0px 0px 16px;}


.bullettrg li {margin:0px 0px 0px 16px;}

.bgwhite {background-color:#FFFFFF;}
.bggrey {background-color:#fdfdfe;}
.bggrey1 {background-color:#f8f9fb;}
.bggrey2 {background-color:#f1f3f6;}
.bggrey3 {background-color:#f5f7f9;}
.bggrey4 {background-color:#d8dde6;}
.bggrey5 {background-color:#e3e6ed;}
.bggrey6 {background-color:#fdfeff;}
.bgblue {background-color:#254276;}
.bgblue1 {background-color:#5a79ae;}
.bgblue2 {background-color:#365186;}
.bgblue3 {background-color:#244276;}

.txtblue {color:#365186;}
.txtblue1 {color:#3c578f;}
.txtblue2 {color:#22355f;}
.txtgrey {color:#636466;}
.txtblack {color:#231f20;}
.redtxt1 {color:#FF0000;}
.txtwhite {color:#ffffff;}

.borderblue {border:#6283BC 1px solid;}
.bordermain {border:#231f20 1px solid;}
.borderinside {border:#9a9c9e 1px solid;}
.borderwhite {border-bottom:#ffffff 1px solid;}

.borderleft {border-left:#ffffff 1px solid;}
.borderright {border-right:#ffffff 1px solid;}

.borderblue {border:1px solid #6283bc; width:123px;}
html>body .borderblue {width:121px;}

.borderblue3 {border:1px solid #6283bc; width:125px;}
html>body .borderblue {width:123px;}

.borderblue1 {border:1px solid #6283bc; width:100px;}
html>body .borderblue1 {width:98px;}

.bordertrgr {border-right:#d8d9dc 1px solid;}
.bordertrgl {border-left:#d8d9dc 1px solid;}
.bordertrgtr {border-top:#d8d9dc 1px solid; border-right:#d8d9dc 1px solid;}
.bordertrgb {border-bottom:#d8d9dc 1px solid;}
.bordertr {border:#d8d9dc 1px solid;}

.homebox { background-image:url(../images/bg_homebox.gif); background-repeat:repeat-x; background-color:#ffffff;}
.developmentbox { background-image:url(../images/developmentbg.jpg); background-repeat:repeat-x; background-color:#ffffff;}
.mainbg {background-image:url(../images/bg_main.jpg); background-repeat:no-repeat; background-color:#9dc0e0;}
.curvetop {background-image:url(../images/top.gif); height:8px;}
.curveright {background-image: url(../images/right.gif); height:8px;}
.curvebottom {background-image:url(../images/bottom.gif); width:8px;}
.curveleft {background-image:url(../images/left.gif); width:8px; background-repeat:repeat-y;}

.menuborderbt {border:#263861 1px solid;}
.menubordertlr {border-top:#263861 1px solid; border-left:#263861 1px solid; border-right:#263861 1px solid;}
.menuborderall {border-top:#263861 1px solid; border-right:#263861 1px solid; border-bottom:#263861 1px solid; border-left:#263861 1px solid;}
.borbottom {border-bottom:1px solid #929292;}
.bortop {border-top:1px solid #666666;}

.textbox1 {border:1px solid #000000; height:22px; font-family:verdana,tahoma,arial; font-size: 11px; color: #000000; padding-left:3px; line-height:14px; padding-top:2px; padding-bottom:2px;}
.textbox2 {border:1px solid #000000; height:20px; font-family:verdana,tahoma,arial; font-size: 11px; color: #000000; padding-left:3px; padding-top:2px; width:150px;}
.textbox3 {border:1px solid #000000; height:20px; font-family:verdana,tahoma,arial; font-size: 11px; color: #000000; padding-left:3px; padding-top:2px; width:80px;}
.textarea1 {border:1px solid #000000; font-family:verdana,tahoma,arial; font-size: 11px; color: #000000; padding-left:3px;}
.textarea2 {border:1px solid #000000; font-family:verdana,tahoma,arial; font-size: 11px; color: #000000; padding-left:1px;}

.mainwidth {width:1000px;}
.w789 {width:789px;}
.w773 {width:773px;}
.w772 {width:772px;}
.w771 {width:771px;}
.w770 {width:770px;}
.w778 {width:778px;}
.w768 {width:768px;}
.w766 {width:766px;}
.w755 {width:755px;}
.w754 {width:754px;}
.w753 {width:753px;}
.w645 {width:645px;}
.w632 {width:632px;}
.w563 {width:563px;}
.w536 {width:536px;}
.w535 {width:535px;}
.w534 {width:534px;}
.w533 {width:533px;}
.w552 {width:552px;}
.w510 {width:510px;}
.w490 {width:490px;}
.w489 {width:489px;}
.w478 {width:478px;}
.w476 {width:476px;}
.w475 {width:475px;}
.w473 {width:473px;}
.w463 {width:463px;}
.w445 {width:445px;}
.w459 {width:459px;}
.w420 {width:420px;}
.w415 {width:415px;}
.w413 {width:413px;}
.w411 {width:411px;}
.w405 {width:405px;}
.w380 {width:380px;}
.w368 {width:368px;}
.w356 {width:356px;}
.w290 {width:290px;}
.w288 {width:288px;}
.w286 {width:286px;}
.w282 {width:282px;}
.w281 {width:281px;}
.w250 {width:250px;}
.w239 {width:239px;}
.w236 {width:236px;}
.w235 {width:235px;}
.w234 {width:234px;}
.w232 {width:232px;}
.w230 {width:230px;}
.w229 {width:229px;}
.w205 {width:205px;}
.w203 {width:203px;}
.w197 {width:197px;}
.w191 {width:191px;}
.w190 {width:190px;}
.w188 {width:188px;}
.w184 {width:184px;}
.w178 {width:178px;}
.w175 {width:175px;}
.w174 {width:174px;}
.w165 {width:165px;}
.w164 {width:164px;}
.w163 {width:163px;}
.w162 {width:162px;}
.w161 {width:161px;}
.w150 {width:150px;}
.w141 {width:141px;}
.w136 {width:136px;}
.w133 {width:133px;}
.w124 {width:124px;}
.w123 {width:123px;}
.w120{width:120px;}
.w110 {width:110px;}
.w107 {width:107px;}
.w103 {width:103px;}
.w100 {width:100px;}
.w70{width:70px;}
.w80{width:80px;}
.w60 {width:60px;}
.w26 {width:26px;}
.w21 {width:21px;}
.w8 {width:8px;}
.w7 {width:7px;}
.w6 {width:6px;}
.w5 {width:5px;}
.w4 {width:4px;}
.w3 {width:3px;}


.w1p {width:1%}
.w5p{width:5%;}
.w20p{width:20%;}
.w25p{width:25%;}
.w27p {width:27%}
.w30p{width:30%;}
.w33p{width:33%;}
.w34p{width:34%;}
.w40p{width:40%;}
.w45p{width:45%;}
.w48p{width:48%;}
.w49p{width:49%;}
.w50p{width:50%;}
.w60p{width:60%;}
.w65p{width:65%;}
.w70p{width:70%;}
.w71p {width:71%}
.w72p {width:72%}
.w75p{width:75%;}
.w76p{width:76%;}
.w77p{width:77%;}
.w78p{width:78%;}
.w79p{width:79%;}
.w80p{width:80%;}
.w90p{width:90%;}
.w96p {width:96%}
.w97p{width:97%;}
.w98p{width:98%;}
.w99p{width:99%;}
.w100p{width:100%;}

.h3 {height:3px;}
.h16 {height:16px;}
.h24{height:24px;}
.h268 {height: 268px;}
.h349{height:349px;}

.careerspad {padding-left:5px; padding-right:7px;}
.pad4 {padding:4px;}
.padding {padding:0px;}
.pad7   {padding:7px;}
.pad10   {padding:10px;}
.padt1 {padding-top:1px;}
.padt2 {padding-top:2px;}
.padt3 {padding-top:3px;}
.padt4 {padding-top:4px;}
.padt5 {padding-top:5px;}
.padt6 {padding-top:6px;}
.padt7 {padding-top:7px;}
.padt8 {padding-top:8px;}
.padt9 {padding-top:9px;}
.padt10 {padding-top:10px;}
.padt11 {padding-top:11px;}
.padt12 {padding-top:12px;}
.padt13 {padding-top:13px;}
.padt14 {padding-top:14px;}
.padt15 {padding-top:15px;}
.padt16 {padding-top:16px;}
.padt18{padding-top: 18px; }
.padt19{padding-top: 19px; }
.padt20{padding-top: 20px; }
.padt25{padding-top: 25px; }
.padt50{padding-top: 50px; }

.padl1 {padding-left:1px;}
.padl2 {padding-left:2px;}
.padl3 {padding-left:3px;}
.padl4 {padding-left:4px;}
.padl5 {padding-left:5px;}
.padl6 {padding-left:6px;}
.padl7 {padding-left:7px;}
.padl8 {padding-left:8px;}
.padl9 {padding-left:9px;}
.padl10 {padding-left:10px;}
.padl11 {padding-left:11px;}
.padl12 {padding-left:12px;}
.padl13 {padding-left:13px;}
.padl14 {padding-left:14px;}
.padl15 {padding-left:15px;}
.padl16{padding-left: 16px; }
.padl17{padding-left: 17px; }
.padl18{padding-left: 18px; }
.padl20{padding-left: 20px; }
.padl21{padding-left: 21px; }
.padl40{padding-left: 40px; }

.padr1 {padding-right:1px;}
.padr2 {padding-right:2px;}
.padr3 {padding-right:3px;}
.padr4 {padding-right:4px;}
.padr5 {padding-right:5px;}
.padr6 {padding-right:6px;}
.padr7 {padding-right:7px;}
.padr8 {padding-right:8px;}
.padr9 {padding-right:9px;}
.padr10 {padding-right:10px;}
.padr11 {padding-right:11px;}
.padr12 {padding-right:12px;}
.padr13 {padding-right:13px;}
.padr14 {padding-right:14px;}
.padr15 {padding-right:15px;}
.padr16{padding-right: 16px; }
.padr20{padding-right: 20px; }
.padr30{padding-right: 30px; }

.padb1 {padding-bottom:1px;}
.padb2 {padding-bottom:2px;}
.padb3 {padding-bottom:3px;}
.padb4 {padding-bottom:4px;}
.padb5 {padding-bottom:5px;}
.padb6 {padding-bottom:6px;}
.padb7 {padding-bottom:7px;}
.padb8 {padding-bottom:8px;}
.padb9 {padding-bottom:9px;}
.padb10 {padding-bottom:10px;}
.padb11 {padding-bottom:11px;}
.padb12 {padding-bottom:12px;}
.padb13 {padding-bottom:13px;}
.padb14 {padding-bottom:14px;}
.padb15 {padding-bottom:15px;}
.padb20{padding-bottom: 20px; }
.padb30{padding-bottom: 30px; }


.margin {margin:0px;}
.mart1 {margin-top:1px;}
.mart2 {margin-top:2px;}
.mart3 {margin-top:3px;}
.mart4 {margin-top:4px;}
.mart5 {margin-top:5px;}
.mart6 {margin-top:6px;}
.mart7 {margin-top:7px;}
.mart8 {margin-top:8px;}
.mart9 {margin-top:9px;}
.mart10 {margin-top:10px;}
.mart11 {margin-top:11px;}
.mart12 {margin-top:12px;}
.mart13 {margin-top:13px;}
.mart14 {margin-top:14px;}
.mart15 {margin-top:15px;}
.mart20 {margin-top:20px;}
.mart21 {margin-top:21px;}
.mart22 {margin-top:22px;}
.mart23 {margin-top:23px;}
.mart24 {margin-top:24px;}
.mart25 {margin-top:25px;}
.mart26 {margin-top:26px;}

.marr1 {margin-right:1px;}
.marr2 {margin-right:2px;}
.marr3 {margin-right:3px;}
.marr4 {margin-right:4px;}
.marr5 {margin-right:5px;}
.marr6 {margin-right:6px;}
.marr7 {margin-right:7px;}
.marr8 {margin-right:8px;}
.marr9 {margin-right:9px;}
.marr10 {margin-right:10px;}
.marr11 {margin-right:11px;}
.marr12 {margin-right:12px;}
.marr13 {margin-right:13px;}
.marr14 {margin-right:14px;}
.marr15 {margin-right:15px;}

.marb1 {margin-bottom:1px;}
.marb2 {margin-bottom:2px;}
.marb3 {margin-bottom:3px;}
.marb4 {margin-bottom:4px;}
.marb5 {margin-bottom:5px;}
.marb6 {margin-bottom:6px;}
.marb7 {margin-bottom:7px;}
.marb8 {margin-bottom:8px;}
.marb9 {margin-bottom:9px;}
.marb10 {margin-bottom:10px;}
.marb11 {margin-bottom:11px;}
.marb12 {margin-bottom:12px;}
.marb13 {margin-bottom:13px;}
.marb14 {margin-bottom:14px;}
.marb15 {margin-bottom:15px;}
.marb16 {margin-bottom:16px;}
.marb18 {margin-bottom:18px;}
.marb21 {margin-bottom:21px;}

.marl1 {margin-left:1px;}
.marl2 {margin-left:2px;}
.marl3 {margin-left:3px;}
.marl4 {margin-left:4px;}
.marl5 {margin-left:5px;}
.marl6 {margin-left:6px;}
.marl7 {margin-left:7px;}
.marl8 {margin-left:8px;}
.marl9 {margin-left:9px;}
.marl10 {margin-left:10px;}
.marl11 {margin-left:11px;}
.marl12 {margin-left:12px;}
.marl13 {margin-left:13px;}
.marl14 {margin-left:14px;}
.marl15 {margin-left:15px;}
.marl16 {margin-left:16px;}
.marl17 {margin-left:17px;}
.marl20 {margin-left:20px;}
.marl33 {margin-left:33px;}

/*.left {width:200px; padding:0px 10px 0px 10px;}
html>body .left {width:180px; padding:0px 10px 0px 10px;}*/

.nav{
	width:155px;
	margin-left:auto;
	margin-right:auto;	
}
.nav ul, #nav li {
	width:155px;
	margin:0;
	padding:0;
	list-style:none;
	text-align:left;
}
.limenu{	
	float:left;
	width:155px;
	line-height:16px;
	margin:0;
	background:url(../images/menulink_over.gif) left top; background-color:243662; background-repeat: no-repeat;
	white-space:normal;
}
.nav a{
	width:135px;
	background:url(../images/menulink.gif) left top; background-color:#e8edf1; background-repeat: no-repeat;
	text-decoration:none;
	font-family: verdana,tahoma,arial; color:#50608b; font-size: 10px; text-decoration:none;
	padding:0px 0px 0px 14px;
	margin:0px;
	white-space:normal;
}

html>body .nav a{ /*Non IE6 width*/
width:141; font-family: verdana,tahoma,arial; color:#50608b; font-size: 10px; text-decoration:none;}

.nav a:hover{background:transparent; font-family: verdana,tahoma,arial; color:#e8edf1; font-size: 10px; text-decoration:none;}

#Layer1 {position:absolute; width:152px; height:72px; z-index:1; left: 729px; top: 211px; visibility: hidden;}
#Layer2 {position:absolute; width:130px; height:71px; z-index:2; left: 729px; top: 131px; visibility: hidden;}
#Layer3 {position:absolute;	width:155px; height:90px; z-index:3; left: 729px; top: 170px; visibility: hidden;}
#Layer4 {position:absolute; width:152px; height:89px; z-index:4; left: 729px; top: 249px; visibility: hidden;}
#Layer5 {position:absolute; width:159px; height:115px; z-index:5; left: 729px; top: 289px; visibility: hidden;}

/*#Layer1 {position:absolute; width:152px; height:72px; z-index:1; left: 729px; top: 211px; visibility: hidden;}
#Layer2 {position:absolute; width:151px; height:71px; z-index:2; left: 729px; top: 131px; visibility: hidden;}
#Layer3 {position:absolute;	width:155px; height:90px; z-index:3; left: 729px; top: 170px; visibility: hidden;}
#Layer4 {position:absolute; width:152px; height:89px; z-index:4; left: 729px; top: 249px; visibility: hidden;}
#Layer5 {position:absolute; width:159px; height:115px; z-index:5; left: 729px; top: 289px; visibility: hidden;}*/

.tabUnactive{
	height:20px;
	padding-left:7px;
	padding-right:5px;
	border-top:1px solid #AAAAAA;
	border-right:1px solid #AAAAAA;
	border-left:1px solid #AAAAAA;
	border-bottom:1px solid #828B96;
	background-color:#EEEEEE;
	color:#888888;
	font-size:11px;
	cursor:pointer;
	background-image:none;
	font-weight:normal;
}
.tabActive{
	height:20px;
	padding-left:8px;
	padding-right:5px;
	border-top:0px solid #000000;
	border-right:1px solid #828B96;
	border-left:0px solid #828B96;
	border-bottom:1px solid #CDD9E7;
	background-color:#ffffff;
	color:#000000;
	font-size:11px;
	cursor:pointer;
	background-image:URL(../images/tab_bg_on.gif);
	font-weight:normal;
}
.tabSeparator{
	height:20px;
	font-size:10px;
	border-bottom:1px solid #828B96;
}
.lineOn{
    background-color:#ffEECC;
    cursor:hand;
}
.lineOff{
    background-color:#ffffff;
    cursor:hand;
}

.sheetUnactive{
	display:none;
}
.sheetActive{
	display:block;
	border:1px solid #828B96;
	border-top:none;
	width:599px;
	padding:0px;
	background-color:white;
}
.topButtonOff{
	background-color:#f7f7f7;
	border-top : 1px solid #f7f7f7;
	border-right : 1px solid #f7f7f7;
	border-left : 1px solid #f7f7f7;
	border-bottom : 1px solid #f7f7f7;
	font-size: 11px;
	text-align: center;
	width:70px;
	height:70px;	
}
.topButtonOn{
	background-color:#FFFFFF;
	border-top : 1px solid #bbbbbb;
	border-right : 1px solid #EEEEEE;
	border-left : 1px solid #bbbbbb;
	border-bottom : 1px solid #EEEEEE;
	font-size: 11px;
	cursor: pointer;
	text-align: center;
	width:70px;
	height:70px;
}
.topMenuItemsDiv{
	filter:Shadow(Color=#909090, Direction=135); 
}
.topMenuItems{
	background-color:#FFFFFF;
	border-top : 1px solid #aaaaaa;
	border-right : 1px solid #aaaaaa;
	border-left : 1px solid #aaaaaa;
	border-bottom : 1px solid #aaaaaa;
}

.topMenuItemOn{
	color:white;
	font-size: 11px;
	font-weight:bold;
	background-color:#EEEEEE;
	padding-left:2px;
	height:18px;
	cursor:pointer;
}

.topMenuItemOff{
	color:black;
	font-size: 11px;
	font-weight:normal;
	background-color:#FFFFFF;
	padding-left:2px;
	height:18px;
	cursor:pointer;
}

.quickLinkOff{
	font-family:Arial;
	color:black;
	font-size:10px;
	font-weight:normal;
	background-color:#FFFFFF;
	padding-left:0px;
	height:18px;
	cursor:pointer;
}

.quickLinkOn{
	font-family:Arial;
	color:black;
	font-size:10px;
	font-weight:normal;
	background-color:#EEEEEE;
	padding-left:0px;
	height:18px;
	cursor:pointer;
}

.quickLinkActiveOff{
	font-family:Arial;
	color:white;
	font-size:10px;
	font-weight:normal;
	background-color:#5186CD;
	padding-left:0px;
	height:18px;
	cursor:pointer;
}
.quickLinkActiveOn{
	font-family:Arial;
	color:white;
	font-size:10px;
	font-weight:normal;
	background-color:#3166AD;
	padding-left:0px;
	height:18px;
	cursor:pointer;
}
.reportTable{
	font-size:10px;
}
.reportPrint{
	fonr-size:12px;
}

/*INPUT, SELECT{
	font-size:10px;
	
}
TEXTAREA{
	font-family:Verdana;
	fonr-size:11px;
}

A:ACTIVE{
	font : Tahoma, Helvetica, sans-serif;
	color : #000100;
	text-decoration:none;
}

A:LINK{
	font : Tahoma, Helvetica, sans-serif;
	color : #842f40;
	text-decoration:none;
}

A:VISITED{
	font : Tahoma, Helvetica, sans-serif;
	color : #000000;
	text-decoration:none;
}

A:HOVER{
	font : Tahoma, Helvetica, sans-serif;
	color : #CC0000;
	text-decoration:underline;
	no-font-weight:bold;
}*/
H4{
	color: #490000;
	font-size:12pt;
	font : Tahoma, Helvetica, sans-serif;
}

.tr_hand{
	cursor:pointer;
}

.ph{
	nocolor:white; 
	nobackground-color:#77AAD0;
	color:#555555;
	font-family: verdana,tahoma,arial;
	font-size:14px;
	noborder-bottom:1px solid #3B749F;
	background-color:#f0f0f0;
}
.pn{
	color:#333333; 
	font-family: verdana,tahoma,arial;
	font-size:11px;
	height:20;
	padding-top:0px;
}
.pi{
	color:#333333; 
	font-family: verdana,tahoma,arial;
	font-size:11px;
	height:20;
}
.th{
	height:25;
	color:#333333;
	font-family: verdana,tahoma,arial;
	font-size:11px;
	font-weight:bold;
	background-image:url(../images/th.gif);
	background-repeat: repeat-x;
	background-position: top;
}
.th1{
	height:40;
	color:#333333;
	font-family: verdana,tahoma,arial;
	font-size:11px;
	font-weight:bold;
	background-image:url(../images/th.gif);
	background-repeat: repeat-x;
	background-position: top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
}
.th2{
	height:25;
	color:#333333;
	font-family: verdana,tahoma,arial;
	font-size:11px;
	font-weight:bold;
	background-image:url(../images/th.gif);
	background-repeat: repeat-x;
	background-position: top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
}
.th3{
	height:25;
	color:#333333;
	font-family: verdana,tahoma,arial;
	font-size:10px;
	font-weight:bold;
	background-image:url(../images/th.gif);
	background-repeat: repeat-x;
	background-position: top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
}
.formHelp{
	color:#888888;
	font-size:11px;
	font-style:normal;
}

.printTH{
	height:28;
	color:#000000; 
	font-family: verdana,tahoma,arial;
	font-size:14px;
	font-weight:bold;
}

.fb{
	color:#333333; 
	font-family: verdana,tahoma,arial;
	font-size:11px;
	font-weight:bold;
	background-image:url(../images/bg2.gif);
	height:50;
	margin:0px;
}

.tt{
	color:#000000;
	font-family: verdana,tahoma,arial;
	font-size:11px;
	height:28;
	padding-top:7px;
	padding-bottom:5px;
	vertical-align : top;
	font-weight: normal;
}
.tt1{
	color:#000000;
	font-family: verdana,tahoma,arial;
	font-size:11px;
	height:24;
	padding-top:7px;
	padding-bottom:5px;
	vertical-align : top;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
}

.tt2{
	color:#000000;
	font-family: verdana,tahoma,arial;
	font-size:10px;
	height:24;
	padding-top:7px;
	padding-bottom:5px;
	vertical-align : top;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
}

.tt3{color:#000000; font-family: verdana,tahoma,arial; font-size:11px; height:24; padding-top:7px; padding-bottom:5px;  vertical-align : top; font-weight: normal; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #666666; background-color:#e3e6ed;}

.no_data{
	height:60;
	padding-left:25px;
	font-weight:bold;
}

.h3{
	color:#BCBA07; 
	font-family: verdana,tahoma,arial;
	font-size:16px;
	font-weight : bold;
}
.h3s{
	color:#003263; 
	font-family: verdana,tahoma,arial;
	font-size:14px;
}

.h4{
	color:#013368; 
	font-family: verdana,tahoma,arial;
	font-size:12px;
}

.h4b{
	color:black; 
	font-family: verdana,tahoma,arial;
	font-size:12px;
	font-weight:bold;
}

.h5{
	color:#222222; 
	font-family: verdana,tahoma,arial;
	font-size:10px;
	font-weight : bold;
}

.h6{
	color:#FFFFFF; 
	font-family: verdana,tahoma,arial;
	font-size:8px;
	font-weight : bold;
}
.details{
	font-family: verdana,tahoma,arial;
	font-size:11px;
	font-weight : bold;
	color:#000099;
	font-size: 11px;
	font-weight:bold;
	background-color:#EEEEEE;
	padding-left:2px;
	height:18px;
}
.details1{
	font-family: verdana,tahoma,arial;
	font-size:11px;
	font-weight : bold;
	color:#000000;
	font-size: 11px;
	font-weight:bold;
	background-color:#EEEEEE;
	padding-left:2px;
	height:18px;
}
.admin {

	font-family: verdana,tahoma,arial;
	font-size:11px;
	font-weight : bold;
	color:#CC0000;
	font-size: 11px;
	font-weight:bold;
	padding-left:2px;
	height:18px;
}
.style1 {
	font-family: verdana,tahoma,arial;
	font-size:11px;
	font-weight : bold;
	color:#000066;
	font-size: 11px;
	font-weight:bold;
	padding-left:2px;
	height:18px;
	line-height: 22px;
}
.logobg{
background-color:#7C7C7C;
}

.search {
	margin: 7px;
	padding: 7px 55px 7px 27px;
	border: 2px solid #4c5f9e;
	font-family: verdana,tahoma,arial;
	font-size: 10px;
	color: #000000;
	vertical-align: top;
	width: 350px;
	text-align: right;
	line-height: 22px;
}
.search_txt{
	font-family: Times New Roman, Times, serif;
	font-size: 14px;
	font-weight: bold;
	color: #2b356c;
}
.Heading1
{
	font-family: verdana,tahoma,arial;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	background-color: #4d609e;
	padding-left: 4px;
	height: 20px;
	margin-left: 4px;
}
.padr5 {padding-right: 5px;}
.txt {
	font-family: verdana,tahoma,arial;
	font-size: 11px;
	color: #000000;
	text-decoration: none;}
	
.redtxtb{font-family: verdana,arial,tahoma; color: #FF0000; font-size: 11px; font-weight: normal; text-decoration:none;}

.Heading2
{
	font-family: verdana,tahoma,arial;
	font-size: 9px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
	background-color: #4d609e;
	padding-left: 4px;
	height: 20px;
	margin-left: 4px;
}
.field3 {
	width: 40px;
	height: 18px;
	font-family: verdana,tahoma,arial;
	font-size: 10px;
	font-style: normal;
	color: #333333;
	text-decoration: none;
}
.field4 {
	height: 18px;
	font-family: verdana,tahoma,arial;
	font-size: 10px;
	font-style: normal;
	color: #333333;
	text-decoration: none;
}

.borb {border-bottom:1px solid #000000;}
.rows {height:27px;}
.rowsAdmin {height:35px;}